@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
}
.container{
    max-width:1140px;
    margin: 0 auto;
    /* background-color: aqua; */
    padding:0 15px
}
header {
    background-color: rgba(250, 250, 250, 0.1) !important;
    min-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}
.all-head{
    position: fixed;
    background-color: rgba(250, 250, 250, 0.1) !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    top: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    min-height: 80px;
    /* width: 100%; */
    flex-wrap: wrap;
    
}
.nav-sec{
    display: flex;
    list-style: none;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    
    
}

.nav-sec li a{
    text-decoration: none;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-inline: 1.25rem;
    
}   

.main h1{
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    
}
main h1,span{
    color: #ed563b ;
}
.btn{
    display: inline-block;
    padding: 15px 20px;
    /* margin-inline: 1.25rem; */
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: #ed563b;
    border: none;
    text-transform: uppercase;
    /* width: 80%; */
    cursor: pointer;
}
.nav-sec li a:hover{
    color: #ed563b;
}
.btn:hover{
    color: #ed563b;
    background-color: #df7563;
}
#menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    
}
/* When open, show X icon */
.menu-toggle.open::before {
    content: "✖";
    display: none;
    
}

.hero-section{
    background-image:url(https://images.unsplash.com/photo-1593079831268-3381b0db4a77?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGd5bXxlbnwwfHwwfHx8MA%3D%3D) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: calc(100vh - 80px); */
    /* max-height: 100vh; */
    min-height: 100vh;
    position:relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: -1;
    display: block;
    
    
.qoraal{
    display: flex;
    align-items: center;text-align: center;
    text-transform: uppercase;
    color: white;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
        transform: translate(-50%, -50%);
}
}
.hero-section .qoraal h1{
    font-size: 5.25rem;
    margin-top: 1.875rem;
    margin-bottom: 1.5625rem;
    font-weight: 800;

}
.hero-section .qoraal h6{
    font-size: 1.25rem;
    font-weight: 800;
}
.qoraal .btn{
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 20px;
    cursor: pointer;
    display: inline-block;
    
}
.qoraal .btn:hover{
        background-color: #ed563b;
        color: azure;
}
.section-items{
    margin-top: 8.75rem;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
}
.section-items h1{
    font-size: 1.75rem;
    font-weight: 800;
    color: #232d39

}
.section-items img{
    margin: 20px auto;
}
.section-items p{
    font-size: 0.875rem;
    line-height: 25px;
    color: #7a7a7a;
    text-transform: capitalize;
}
.all-feutares {
    margin-bottom: 5rem;
}
.all-feutares .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */

}
.fature-items .feature img{
    float: left;
    margin-right: 30px;
}

.fature-items .feature{
    /* display: flex;
    gap: 30px; */
    margin-bottom: 3.75rem;
}
.fature-items .feature h2{
    font-size: 1.1875rem;
    font-weight: 600;
    margin-bottom: 0.4375rem;
    text-transform: capitalize;
    color: #232d39;
    margin-top: 0;
    
}
.fature-items .feature{
    /* width: 100%; */
    /* height: 100px; */
}
.fature-items .feature p{
    font-size: 0.875rem;
    line-height: 1.5625rem;
    color: #7a7a7a;
    /* word-wrap: break-word; */

}
.fature-items .feature a.buton{
    margin-top: 0.4375rem;
    display: inline-block;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ed563b;
}
.fature-items .feature a{
    text-decoration: none;
}
.design{
    background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg);
        padding: 120px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.design .desgns{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.design h1{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
.design p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0px 25px 0px;
}
.training .arti{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
}
.clases{
    width: 100%;
    padding: 0 15px;
    
}
.clases .class{
    text-transform: capitalize;
    padding: 30px 30px;
    /* display: inline-block; */
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    
    
}
.clases .class h2{
    font-size: 1.1875rem;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
}

.clases .class img{
    margin-right: 20px;
    /* max-width: 100%; */
}
.schedules{
    width: 100%;
}
.schedules .sche img{
    /* width: 100%; */
}
.schedules .sche h1{
    
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.schedules .sche p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}
.schedules .sche{
    padding: 0 15px;
}
.clases .btn{
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size:1.1875rem ;
    border-radius: 5px;
}

.all-data{
    background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* min-height: 100vh; */
    margin-block: 30px;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    padding-bottom: 140px;
}
.all-data .items{
    margin-top: 140px;
    margin-bottom: 80px;
    padding-top: 140px;
}
.all-data .items h1{
    font-size: 28px;
    font-weight: 800;
    color: #f2f4f5;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.all-data .items p{
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}
.all-data .days{
    display: flex;
    color: #fff;
    text-align: center;
    width: 100%;
    justify-content: center;

}
.all-data .days li{
    list-style: none;
    margin-left: 10px;
    height: 64px;
    font-size: 15px;
}
.all-data .days li:hover{
    color: #ed563b;
}
.all-data .table{
    color: #fff;
    width: 100%;

}
.all-data .table tr td{
    height: 100px;
}
.all-profile .items{
    margin-bottom: 80px;
    padding-top: 140px;
    text-align: center;
}
.all-profile .items h1{
    font-size: 28px;
    font-weight: 800;
    color: #0f0f10;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.all-profile .items p{
    font-size: 14px;
    line-height: 25px;
    color: #131111;
}
.profile-cards {
    /* display: flex; */
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));;
    gap: 10px;

}
.profile-cards .cards{
        padding: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
}
.profile-cards .cards img{
    width: 100%;
}
.profile-cards .cards span{
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}
.profile-cards .cards h2{
    font-size: 19px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;

}
.profile-cards .cards p{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    margin-bottom: 20px;
}
.cards .icons i{
    margin-left: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.cards .icons i:hover{
    color: #ed563b;
}
.last-section{
    background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    width: 100%;
}
.last-section iframe{
    /* z-index: 4; */
    height: 100%;
    width: 100%;
}
.form{
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    margin: 80px;
}
.form .input{
    width: 100%;
}
.form .both{
    display: flex;
    gap: 20px;
   
}
.form .input textarea{
    resize: none;
    height: 150px;
    width: 100%;
    padding: 0 10px;
}

.input input{
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}
.form .btn{
    margin-top: 30px;
}
.foot{
    padding: 30px 0;
    text-align: center;
}
.foot p{
    font-size: 13px;

}







@media (max-width:992px){
    .all-feutares .container{
        grid-template-columns: 1fr;
    }
    .training .arti{
        flex-wrap: wrap;
        /* width: 100%; */
    }
    .schedules .sche img{
        width: 100%;
    }
    .profile-cards {
        /* flex-wrap: wrap; */
        grid-template-columns: 1fr 1fr;
    }
    .profile-cards .cards img{
        width: 100%;
    }
    .last-section{
        grid-template-columns:  1fr;
    }
    .last-section iframe{
        height: 50vh;
    }
    .form{
        margin: 30px;
    }
    .input input {
        max-width:100% ;
    }

}


@media (max-width: 768px) {
    #menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        color: rgb(18, 16, 16);
        margin: 10px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
    }
    
    header {
        background-color: #f7f7f7 !important;
        height: 80px;
    }
    .all-head{
        background-color: #f7f7f7 !important;
    }

    .main {
        flex-direction: column;
        /* gap: 10px; */
    }

    .main h1 {
        color: black;
    }

    .nav-sec {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        
    }
    .nav-sec.active {
        display: flex;
    }

    .nav-sec li {
        width: 100%;
        
    }

    .nav-sec li a {
        color: black;
        background-color: #f7f7f7;
        display: block;
        width: 100%;
        text-align: center;
        border: 1px solid #ccc;
        height: 60px;
        line-height: 60px;
    }
    .nav-sec li a:hover {
        background-color: #dedddd;
    }

    .nav-sec li .btn {
        width: 100%;
        display: block;
        margin:0 ;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn:hover{
        background-color: #ed563b;
        color: azure;
        
    }
    .hero-section .qoraal h1{
        font-size: 4rem;
    } 
    .qoraal .btn{
        text-align: center;
    }  
    .training .arti{
        flex-wrap: wrap;
        width: 100%;
    }
    .schedules .sche img{
    width: 100%;
    margin-top: 20px;
    }
    .profile-cards{
        /* flex-wrap: wrap; */
        grid-template-columns: 1fr;
    }
    .profile-cards .cards img{
        width: 100%;
    }
    .fature-items .feature img{
        
    }
}